*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$PrimaryColor: #F22B29;
$SecondaryColor: #FFC800;
$BgColor: rgb(32, 31, 31);
$TextColor: #FBF5F3;

body{
    overflow-x: hidden;
}

nav{
    background-color: $BgColor;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: $PrimaryColor;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .burger{
        display: inline-block;
        width: 25px;
        height: 50px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: none;

        div{
            height: 3px;
            margin-bottom: 5px;
            margin-top: 5px;
            width: 100%;
            background-color: $TextColor;
            transition: all 0.3s ease-in-out;
        }
    }

    .burger-active{
        .line1{
            transform: rotate(45deg) translate(3px, 5px);
        }

        .line2{
            opacity: 0;
        }

        .line3{
            transform: rotate(-45deg) translate(6px, -8px);
        }
    }

    .nav-links{
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 20%;
        transition: transform 0.3s ease-in-out;

        a{
            color: $TextColor;
            text-decoration: none;
            font-size: 15px;
            transition: all 0.3s ease-in-out;

            i{
                color: $TextColor;
            }
        }

        a:hover{
            color: $PrimaryColor;
        }
    }
}

.bg{
    position: absolute;
    height: 92vh;
    width: 100%;
    background: url('./img/white-android-smartphone-near-grey-laptop-computer-48606.jpg');
    filter: brightness(0.3);
    background-size: cover;
    z-index: -1;
}

.bg-dark{
    filter: brightness(0.1);
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $TextColor;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

    .type{
        color: $PrimaryColor;
    }
}

.about{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $TextColor;

    h2{
        text-align: center;
        color: $PrimaryColor;
    }

    .line{
        margin: 5px auto;
        width: 50%;
        height: 2px;
        background-color: $PrimaryColor;
    }

    .info{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .col1, .col2{
            list-style: none;
            margin: 10px;

            li:before{
                content: '>';
                color: $PrimaryColor;
                margin-right: 5px;
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

    .items{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .progress-bar{
        width: 200px;
        height: 20px;
        background-color: $TextColor;
        border-radius: 10px;
        position: relative;
        margin-top: 30px;

        .progress-title{
            position: absolute;
            color: $PrimaryColor;
            bottom: 100%;
        }

        .progress{
            height: 100%;
            background-color: $PrimaryColor;
            border-radius: 8px;
            position: relative;
            margin-right: auto;

            .progress-value{
                font-size: 15px;
                text-align: center;
            }
        }
    }
}

.projects{
    width: 100%;
    height: 84vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    .project{
        width: 350px;
        transition: all 0.3s ease-in-out;
        background-color: rgba(242, 44, 41, 0.2);
        border-radius: 20px;
        text-decoration: none;
        margin: 10px;

        .img{
            width: 100%;
            height: 190px;
            background-size: cover !important;
            border-radius: 20px 20px 0px 0px;
        }

        p{
            color: $PrimaryColor;
            text-align: center;
            width: 100%;
            padding: 5px;
            font-size: 17px;
            transition: font-size 0.3s ease-in-out;
        }
    }
}

footer{
    position: absolute;
    bottom: 0;
    height: 8vh;
    width: 100%;
    background-color: $BgColor;
    color: $TextColor;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .copyright{
        opacity: 0.8;
    }

    .social-icons{
        a{
            text-align: center;
            display: inline-block;
            text-decoration: none;
            color: $TextColor;
            width: 30px;
            height: 30px;
            line-height: 34px;
            border-radius: 50%;
            transition: all 0.1s ease-in-out;
            font-size: 20px;
            opacity: 0.8;
        }

        a:hover{
            color: $PrimaryColor;
            opacity: 1;
        }
    }
}

//===== Responsive =====//
@media screen and (max-width: 1280px){
    nav .nav-links{
        width: 30%;
    }
}

@media screen and (max-width: 1024px){
    .title{
        font-size: 30px;
    }

    nav .nav-links{
        width: 40%;
    }
}

@media screen and (max-width: 768px){
    nav .nav-links{
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        width: 50%;
        flex-direction: column;
        background-color: $BgColor;
        z-index: 1;
        transform: translateX(100%);
    }

    nav .burger{
        display: inline-block;
    }

    .about{
        .info{
            li{
                font-size: 14px;
            }

            li:before{
                font-size: 15px;
            }
        }

        .progress-bar{
            width: 150px;
        }
    }
}

nav .nav-active{
    transform: translateX(0%);

    a{
        font-size: 18px;
    }
}
//=======================//
